<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form action="" class="margin‐bottom‐0">
            <div class="form-group">
                <h2>Registration Page</h2>
                <label>Enter information below to open BWF account</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="first_name" placeholder="First name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="last_name" placeholder="Last name"/>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" ng-model="email" placeholder="Email address"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="Password"/>
            </div>
            <div class="login‐buttons">
                <button ng-click="Register()" type="submit" class="btn btn-lg" style="float: right;">REGISTER</button>
            </div>
        </form>
    </div>
</div>
